<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/podekex.js"></script>
    <title>Pokedex</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .pokemon {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
        }
        .pokemon img {
            max-width: 100px;
        }
    </style>
</head>
<body>
    <h1>Pokedex</h1>
    <div id="pokemonContainer"></div>
</body>
</html>
